* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
#nav{
	background-color: #002fa7;
}

#nav ul {
	list-style-type: none;
	overflow: hidden;
}


#nav li {
	float: left;
}

#nav li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s linear;
	
}

#nav li a:hover {
	background-color: #111;
}
.iletisim{
    padding: 20px;
}
.iletisim span{
    font-size: 25px;
    color:black;
}
.form{
    width: 100%;
    background-color: aliceblue;
    padding: 20px;
}
input[type=text],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=mail]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.arkaplan{
    width: 100%;
    background-image: url(img/arkacontact.jpg);
    height: 135vh;
    background-size: cover;
}
.form{
    opacity: 0.8;
}
